{% extends 'core/base.html' %} {% block title %}Logs{% endblock %}{% block content %}
{% load static %}

<main role="main">
  <h1>Procedures </h1>

  <div id="page-content-wrapper">
    <div class="container-fluid">
        <div align="left" class="btn_crear mb-3">
            Actualizar videos perdidos de un sitio <a href="{% url 'procedures:update_one_lost'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
        </div>
        <div align="left" class="btn_crear mb-3">
            Actualizar status de todos los sitios <a href="{% url 'procedures:procedures'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
        </div>
        <div align="left" class="btn_crear mb-3">
            Actualizar videos perdidios de todos los sitios <a href="{% url 'procedures:update_lost'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
        </div>
        <div align="left" class="btn_crear mb-3">
          Actualizar videos perdidios de todos los sitios dahua <a href="{% url 'procedures:update_lost_dahua'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
      </div>
        <div align="left" class="btn_crear mb-3">
          Obtener resumen  <a href="{% url 'procedures:summary'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
      </div>
      <div align="left" class="btn_crear mb-3">
        Obtener status sucursales fase 2  <a href="{% url 'procedures:update_sucursales_status'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
    </div>
    <div align="left" class="btn_crear mb-3">
      Obtener status noip  <a href="{% url 'procedures:update_noip_status'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
  </div>
    <div align="left" class="btn_crear mb-3">
      Obtener status DNS  <a href="{% url 'procedures:update_sucursales_status'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-left"></i></a>
  </div>
      

        <form method="post" enctype="multipart/form-data">
          <h4>Actualizar o crear direccionamiento y sucursales de bdb desde csv</h4>
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              <input type="file" name="file" >
            </div>
            <div class="col-2">
               <input type="text" placeholder="opcion" name="opcion" >
            </div>
            <div class="col-4">
              <button class="btn btn-primary btn-sm" type="submit">Enviar</button>
            </div>
          </div>
        </form>
        <br>
        <form method="post" enctype="multipart/form-data">
          <h4>Obtener estatus de conexion desde archivo</h4>
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              <input type="file" name="file" >
            </div>
            <div class="col-2">
               <input type="text" placeholder="port" name="port" >
            </div>
            <div class="col-4">
              <button class="btn btn-primary btn-sm" type="submit">Enviar</button>
            </div>
          </div>
        </form>

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="form-controll">
                    <label for="search"><i class="icon-search"></i></label>
                    <!-- <input class="table-filter" type="search" data-table="advanced-web-table" placeholder="Search..."> -->
                  </div>
                  <!--  Table  -->
                  <div class="table-responsive">
                    <table id="sitios-remotos-table" class="advanced-web-table">
                      <thead>

                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Type</th>
                          <th>Value</th>
                          <th>Actions</th>

                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for procedure in procedure_list %} 
                        <tr>
                          <td>{{procedure.id}}</td>
                          <td>{{procedure.name}}</td>
                            <td>{{procedure.description}}</td>
                            <td>{{procedure.type}}</td>
                            <td>{{procedure.value}}</td>

                            <td>
                                <a href="{% url 'procedures:procedures'%}" type="button" class="btn btn-primary btn-sm"> <i class="fa-solid fa-pen"></i></a>
                            </td>
                        </tr>
                        {% endfor %}

                        
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



</main>
{% endblock %}