{% extends 'core/base.html' %} {% block title %}Sucursales{% endblock %}{% block content %}
{% load static %}

<main role="main">
  <h1>Sucursales</h1>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div align="right" class="btn_crear mb-3">
                Reload <a href="{% url 'sucursal:sucursales'%}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-rotate-right"></i></a>

            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-controll">
                        <label for="search"><i class="icon-search"></i></label>
                        <!-- <input class="table-filter" type="search" data-table="advanced-web-table" placeholder="Search..."> -->
                      </div>
                      <!--  Table  -->
                      <div class="table-responsive">
                        <table id="sitios-remotos-table" class="advanced-web-table">
                          <thead>
                            <tr>
                              <th>Sucursal (succes: {{sucursales_len}} )</th>
                              <th>Dvr</th>
                              <th>Model</th>
                              <th>Serial</th>
                              <th>Cameras info</th>
                              <th>Opciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            {% for sucursal in sucursales %} 
                            <tr>
                              <td>{{sucursal.sucursal}}</td>
                              <td>{{sucursal.direccion}}</td>
                                <td>{{sucursal.type}}</td>
                                <td>{{sucursal.serial}}</td>
                                <td>
                                  {% for camera_info in sucursal.cameras_info %} 
                                  {{camera_info}}
                                  <br>

                                  {% endfor %}
                                </td>
                                <td>
                                  <a class="btn  btn-xs btn-primary btn-sm" href="{% url 'sucursal:sucursal' sucursal.sucursal %}" title="Ver" type="button" class="card-link">Info </a>
                                  <a class="btn btn-secondary btn-sm" href="#" title="Ver" type="button" class="card-link">Configuracion </a>
                  
                                </td>
                            </tr>
                            {% endfor %}
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>
{% endblock %}