{% extends 'core/base.html' %} {% block title %}Update dns{% endblock %} {% block content %}
<main role="main">
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-9 mx-auto">
                <div>
                    {% if 'ok' in request.GET %}
                    <p style="color:green;">
                        DNS updated
                        <a href="{% url 'dns:dns' dns.id %}">View</a>.
                    </p>
                    {% endif %}
                    <form action="" method="post">{% csrf_token %} {{ form.as_p }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary btn-block" value="Update dns" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}