<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Se carga bootstrap4 -->
    {% load bootstrap4 %}
    <!-- Se carga css -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}


</head>



<body>

    

    <!-- Contenido de cada vista -->
    {% block content %} {% endblock %}

    <!-- Jquery -->
    {% bootstrap_javascript jquery='full' %}
</body>

</html>