{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/style.css' %}"> 
    <script src="{% static 'core/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'device:devices' %}">Sitios</a>
                </li>
                <li>
                    <a href="{% url 'sitio:sitios' %}">Mi calle</a>
                </li>
                {% if user.is_superuser%}
                <li>
                    <a href="{% url 'sucursal:sucursales' %}">Sucursales</a>
                </li>
                <li>
                    <a href="{% url 'comparator:compare' %}">Cambios en configuraciones</a>
                </li>
                <li>
                    <a href="{% url 'procedures:procedures' %}">Procesos</a>
                </li>
                <li>
                    <a href="{% url 'logs:logs' %}">Logs</a>
                </li>
                {% endif %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
                <img style="width:40px;" src="{% static 'core/imgs/elipgo_logo2.png' %}" alt="Elipgo">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Home</a></li>
                </ul>
                
                <ul class="navbar-nav ">
    
                    <li role="presentation" > <a href="http://192.168.60.199:5555" class="a"><h4 class="h"> <img class="imagen m-2" width="30" heigth="30" src="{% static 'core/imgs/celery_logo.png' %}"></h4></a></li>
                    <li role="presentation" ><a href="http://10.200.3.80:3300" class="a"><h4 class="h"><img class="imagen m-2" width="30" heigth="30" src="{% static 'core/imgs/grafana_icon.svg' %}"></h4></a></li>
               

                    
                    {% if request.user.is_authenticated %}
    
                    <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index'%}">Admin</a></li>
                </ul>
                
              </div>
            </div>
          </nav>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    
    

</body>

</html>




