{% extends 'core/base.html' %} {% block title %}Monitor camaras{% endblock %}{% block content %}
{% load static %}

<main role="main">
  <h1>Sitios</h1>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            
            
            <form method="post" enctype="multipart/form-data">
              <h4>Add sites</h4>
              {% csrf_token %}
              <div class="row">
                
                <div class="col-2">
                   <input type="text" placeholder="ip" name="ip" >
                </div>
                <div class="col-4">
                  <button class="btn btn-success btn-sm" type="submit">Create</button>
                </div>
              </div>
            </form>

            <div align="left" class="btn_crear mt-3">
              Customized site <a href="{% url 'device:create'%}" type="button" class="btn btn-success btn-sm">Create</a>
            </div>


            <div class="row mt-3">
                <div class="col-lg-12">
                    <h4>Sites</h4>

                    <div class="form-controll">
                        <label for="search"><i class="icon-search"></i></label>
                        <input class="table-filter" type="search" data-table="advanced-web-table" placeholder="Search...">
                      </div>
                      <!--  Table  -->
                      <div class="table-responsive">
                        <table id="sitios-local-table" class="advanced-web-table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>host</th>
                              <th>Status</th>
                              <th>Opciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for device in device_list %} 
                            <tr>
                              <td>{{device.id}}</td>
                              <td>{{device.ip}}:{{device.puerto}}</td>
                              <td>Online</td>
                              <td>
                                <a href="{% url 'device:device' device.id%}" type="button" class="btn btn-success btn-sm">   <i class="fa-solid fa-circle-info"> </i></a>
                                <a href="{% url 'device:update' device.id%}" type="button" class="btn btn-primary btn-sm">   <i class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'device:delete' device.id%}" type="button" class="btn btn-danger btn-sm">  <i class="fa-solid fa-trash"></i></a>

                                <a class="btn  btn-xs btn-secondary btn-sm" href="{% url 'device:video-encode' device.id %}" title="Ver" type="button" class="card-link"> Config <i class="fa-solid fa-gear"></i> </a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











</main>
{% endblock %}