{% extends 'core/base.html' %} {% block content %}

<main role="main">
    <div class="container mb-4">
        <h2 class="m-10">Detalle camara</h2>
        <p>Id: {{sitio.sitio}}</p>
        <p>Proyecto: {{sitio.proyecto|striptags|safe|truncatechars:"200"}}</p>
        <p>ip: {{sitio.ip|striptags|safe|truncatechars:"200"}}</p>
        <p>status: {{sitio.status|striptags|safe|truncatechars:"200"}}</p>
        <p>is_alive: {{sitio.is_alive|striptags|safe|truncatechars:"200"}}</p>
        <p>last_update: {{sitio.last_update|striptags|safe|truncatechars:"200"}}</p>

        <div>
            <h5>Informacion general: </h5>
            <ul>
                {% for key,value in general.items %}
                <li>
                    {{ key }} : {{ value }}
                </li>
                {% endfor %}
            </ul>
            <h5>Hora actual: </h5>
        </div>
        <ul>
            {% for key,value in current_time.items %}
            <li>
                {{ key }} : {{ value }}
            </li>
            {% endfor %}
        </ul>
        <h5>Video encode settings: </h5>
        <ul class="list-group">
            {% for key,value in video_encode_settings.items %}
            <li class="list-group-item">{{ key }} : {{ value }}</li>
            {% endfor %}
          </ul>

       
        <p>Tipo del dispositivo: </p>
        <ul>
            {% for key,value in device_type.items %}
            <li>
                {{ key }} : {{ value }}
            </li>
            {% endfor %}
        </ul>
        <p>Nombre de la maquina: {{machine_name}} </p>

        <p>Motion Settings: </p>
        <ul>
            {% for key,value in motion_settings.items %}
            <li>
                {{ key }} : {{ value }}
            </li>
            {% endfor %}
        </ul>

        <p>Imagen capturada:</p>
        {% load static %}
        <img src="{% static 'monitor/snapshot.jpg' %}" alt="Imagen capturada">

    </div>
</main>
{% endblock %}